{% extends "base.html" %}
{% load static %}
{% load partials %}
{% load widget_tweaks %}




{% partialdef AboutPage-partial %}
    {% block main %}
        <div class="about-page d-flex justify-content-center" id="about-page">
            <div class="card">
                <div class="card-body">
                    <div class="card-title fw-bold">About GET-IT-DONE</div>
                    {% lorem 4 p random %}
                </div>
            </div>
        </div>
    {% endblock main %}
{% endpartialdef %}