{% load static %}
{% load widget_tweaks %}
{% load partials %}



{% partialdef ImageGallery-partial %}
    <div class="d-flex justify-content-center">
            <section class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 text-center p-1 p-md-4">
                {% for file in report.files.all %}
                    <div class="magnific-img">
                        <a class="image-popup-vertical-fit" href="{{ file.file.url }}">
                            <img src="{{ file.file.url }}" alt="{{ file.file.name }}" />
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                {% endfor %}
            </section>
            <div class="clear"></div>
    
    </div>
{% endpartialdef %}

{% partialdef ReportCard-partial %}
    <div class="card mb-2">
        <div class="card-body">
            <a class="card-title h6 text-decoration-none" href="#" hx-get="{% url "report-details"  report.id %}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                {{ description }}
            </a>
            <div class="text-secondary mb-4">
                <small><a class='text-secondary text-decoration-none' href="#">{{ report.subcategory }}</a> |</small>
                <small>{{ report.created_at|date }} |</small>
                <small>{{ report.status }}</small>
            </div>

            <div class="media-files mb-5 d-flex">
                {% include "partials.html#ImageGallery-partial" %}
            </div>
            <div class="location row mb-1">
                <div class="col-12 col-sm-3">Location:</div>
                <div class="col-12 col-sm-9 text-secondary">{{ report.location }}</div>
            </div>
            <div class="responsible-party row mb-1">
                <div class="col-12 col-sm-3">Responsible Party(s):</div>
                <div class="col-12 col-sm-9 text-secondary">{{ report.responsible_party }}</div>
            </div>
            <div class="responsible-party-contact row mb-3">
                <div class="col-12 col-sm-3">Responsible Party Contacts:</div>
                <div class="col-12 col-sm-9 text-secondary">{{ report.responsible_party_contact }}</div>
            </div>

            
        </div>
    </div>
{% endpartialdef %}


