{% load static %}
{% load widget_tweaks %}
{% load partials %}



{% partialdef ImageGallery-partial %}
    <div class="d-flex flex-wrap justify-content-center">
        {% for file in report.files.all %}
                <div class="magnific-img">
                    <a class="image-popup-vertical-fit" href="{{ file.file.url }}">
                        <img src="{{ file.file.url }}" alt="{{ file.file.name }}" />
                        <i class="fa fa-search-plus" aria-hidden="true"></i>
                    </a>
                </div>
        {% endfor %}
    </div>
{% endpartialdef %}

{% partialdef ReportCard-partial %}
    <div class="card mb-2">
        <div class="card-body">
            <a class="card-title h6 text-decoration-none" href="#" hx-get="{% url "report-details"  report.id %}" hx-target="#main" hx-swap="innerHTML" hx-push-url="true">
                {{ report.description|truncatewords:35 }}
            </a>
            <div class="text-secondary mb-4">
                <small><a class='text-secondary text-decoration-none' href="#">{{ report.subcategory }}</a> |</small>
                <small>{{ report.created_at|date }} |</small>
                <small>{{ report.status }}</small>
            </div>

            <div class="location row mb-1">
                <div class="col-12 col-sm-4">Location:</div>
                <div class="col-12 col-sm-8 text-secondary">{{ report.location }}</div>
            </div>
            <div class="responsible-party row mb-1">
                <div class="col-12 col-sm-4">Responsible Party:</div>
                <div class="col-12 col-sm-8 text-secondary">{{ report.responsible_party }}</div>
            </div>
            <div class="responsible-party-contact row mb-3">
                <div class="col-12 col-sm-4">Responsible Party Contacts:</div>
                <div class="col-12 col-sm-8 text-secondary">{{ report.responsible_party_contact }}</div>
            </div>

            
        </div>
    </div>
{% endpartialdef %}


